/********************************************************************************/
/***************************GENERALE*********************************************/
/********************************************************************************/
@font-face {
    font-family: 'Panthera';
    src: url(Assets/Polices/PantheraRegular-MVZ9J.ttf);

}
@font-face {
    font-family: 'Beyno';
    src: url(/Assets/Polices/FontsFree-Net-BEYNO.ttf);

}
@font-face {
    font-family: 'Wakanda';
    src: url(/Assets/Polices/WakandaForever-Regular.ttf)

}
@font-face {
    font-family: 'Cantarell';
    src: url(Assets/Polices/Cantarell-Regular.ttf);

}

:root{
    --coleur-blanc: #ffffff;
    --coleur-blanc-casse: #f2cef2;
    --coleur-gris: #9e91b7;
    --coleur-rose: #df99f2;
    --coleur-violet-bleu: #3d2da6;
    --coleur-bleu: #07338c;
    --coleur-bleu-marine: #021740;
}

*{
    margin: 0px;
    padding: 0px;
    /* box-sizing:border-box; */
}

div, p{
    font-family: 'Cantarell';
    font-size: 11px;
    color: var(--coleur-blanc);
    font-weight:normal;
}
h1{
    font-family: 'Panthera';
    font-size: 45px;
    color: var(--coleur-gris);
    font-weight: normal;
}
h2{
    font-family: 'Beyno';
    font-size: 18px;
    color: var(--coleur-gris);
    font-weight:normal;
}

body{
    background-image: url(/Assets/Illustrations-logo/All-pages/arrière_plan.png);
    background-color: radial-gradient(126.67% 350.28% at -21.35%
0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
0.837641) 94.57%, rgba(2, 23, 64, 0) 100%)
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-header{
    width: 90%;
    margin: 0 auto;
}
.class-voir-plus{
    text-decoration: underline;
}

.head-social{
    /* border: 2px solid red; */
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: center;
    width: 20px;
    justify-content: space-between;
    position: absolute;
    left: 42px;
    top: 255px;

}
.head-social img{
    width: 18px;
    height: auto;
}
.head-social a{
    text-decoration: none;
}
.head-social a:hover{
    filter:invert(100%) sepia(1%) saturate(0%) hue-rotate(219deg) brightness(105%) contrast(100%);
}
.border-left{
    border-left: 4px solid var(--coleur-gris);
    position: absolute;
    left: 30px;
    height: 375px;
    margin: 0px;
}
.border-right{
    border-left: 4px solid var(--coleur-gris) ;
    position: absolute;
    left: 50px;
    height: 250px;
    margin: 0px;

}

.fix-box{
    position: fixed;
}

/********************************************************************************/
/*****************************FADE IN**************************************/
/********************************************************************************/ 

h1 {
    animation: left-to-right 1.5s ease-in-out;
}
  
p {
    animation: left-to-right 1.5s ease-in-out;
}
  
h2 {
    animation: left-to-right 1.5s ease-in-out;
}
  

  img {
    animation: image-fondu 1s ease-in-out;
  }  
  @keyframes left-to-right {
    from {
      opacity: 0;
      transform: translateX(-100px); }
    to {
      opacity: 1;
      transform: translateX(0); } }
  @keyframes image-fondu {
    from {
      opacity: 0;
      transform:skew(1); }
    to {
      opacity: 1;
      transform: skew(1.2); } }

/********************************************************************************/
/*****************************POPUP MESSAGE**************************************/
/********************************************************************************/

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

/********************************************************************************/
/*****************************HEADER*********************************************/
/********************************************************************************/

.en-tete{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.en-tete nav{
    position: relative;
    right: 50px;
    font-size: 15px;
    font-family: 'Beyno';
}
.en-tete nav ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
a{
    text-decoration:none;
   
}
.en-tete .sayna-marvel a{
    display: flex;
    align-items: center;
    width: 20%;
}
.en-tete .sayna-marvel a img{
    padding-left: 3px;
}
.sayna-marvel:hover{
    filter:invert(10%) sepia(75%) saturate(5870%) hue-rotate(251deg) brightness(91%) contrast(84%);
}

/* Dans le header, les rubriques du menu doivent être soulignées (en blanc) lorsque la
souris survole l’élément. Lorsqu’on se situe dans une rubrique, celle-ci s’affiche dans le
menu en souligné et en couleur (violet).*/

.en-tete nav ul .page-actif{
    color: var(--coleur-violet-bleu);
    border-bottom: 1px solid var(--coleur-violet-bleu);
}
.en-tete nav ul .page-inactif{
    color: var(--coleur-blanc);
}
.en-tete nav ul .page-inactif{
    color: var(--coleur-blanc);
}
.en-tete nav ul li a:hover{
    border-bottom: 1px solid var(--coleur-blanc);
}

/********************************************************************************/
/**********************************FOOTER****************************************/
/********************************************************************************/

footer{
    height: 475px;
    background-image: url(/Assets/Illustrations-logo//All-pages/back_footer.png);
}
.container-footer{

    width: 80%;
    height: 475px;
    margin: 0 auto;
    /* border: 3px solid white; */
        

}

.content-D{
    /* border: 3px solid blue; */
    width: 90%;
    height: 70%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content-D-a{
    /* border: 3px solid green; */
    background-image: url(/Assets/Illustrations-logo/All-pages/footer1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 270px;
    width: 231px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 110px;
    /* border: 2px solid white; */
}
.content-D-a img{
    margin-bottom: 10px;
    height: auto;
    width: 120px;
}
.content-D-b{
    /* border: 3px solid red; */
    height: 270px;
    width: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content-D-b-a{
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-between;

}

.content-D-b-b{
    /* border: 3px solid aqua; */
    margin-bottom: 50px;
}


.content-D-b-a-b p, .content-D-b-a-a .footer-pages{
    /* order: 3px solid blue; */
    font-size: 16px;
    letter-spacing :4px;
    margin-bottom: 20px;
}
.content-D-b-a-b .footer-social{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.content-D-b-a-b .footer-social img{
    /* border: 3px solid green; */
    width: 35px;
    height: auto;
}
.footer-wakanda, .footer-apropos{
    font-size: 12px;
}

.content-D-a{
    transition: 500ms;
}
.content-D-a:hover{
    transform: scale(1.2);
    /* z-index: 2; */
}
.content-D-b-a-a a:hover{
    text-decoration:underline;
    color: var(--coleur-blanc);
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/********************************************PAGE ACCUEIL************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

/********************************************************************************/
/**************************FIRST SECTION ACCUIL**********************************/
/********************************************************************************/


.content-A{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.content-A .description{
    width: 50%;
    margin-left: 30px;
}
.content-A .description h1, .content-A .description h2, .content-A .description p{
    margin-bottom: 10px;
    text-align: justify;
}
.content-A .description h2{
    font-size: 22px;
}
.content-A .description p{
    margin-top: 20px;
}
.content-A .image-black-panther{
    width: 100%;
}
.content-A .image-black-panther img{
 width: 119%;
}

.rectangle{
    margin-top: -75px;
    margin-left: 10%;
    background-color: var(--coleur-bleu-marine);
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;

}
.personnage img{
    width: 100%;
    height: 100%;

}
.personnage{
    height: 250px;
    width: 200px;

}
.biographie{
    width: 240px;
    text-align: justify;
}
.biographie h2, .biographie p{
    margin-bottom: 5px;
}

.personnage img{
    transition: 500ms;
}
.personnage img:hover{
    transform: scale(1.2);
    /* z-index: 2; */
}

#first-section-accueil{
    margin-bottom: 100px;
}

/********************************************************************************/
/*************************SECONDE SECTION ACCUEIL********************************/
/********************************************************************************/

.content-B{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
}

.content-B-a{
    width: 55%;
    text-align: justify;
    margin-left: 20px;
}
.content-B-a p{
    font-size: 12px;
}
.content-B-a p,.content-B-a h2{
    margin-top: 15px;
}




.portrait{
    margin-top: -200px;
    width: 340px;
    height: 530px;
    background:var(--coleur-blanc);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}
.portrait p{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.portrait div{
    color: black;
}
.content-B img{
    width: 100%;
    height: 100%;
}
.portrait-panther{
    width: 270px;
    height: 385px;
    position: relative;
    top:-15px;
}
.cercle-panther{
margin-top: 200px;
width: 355px;
}
.cercle-panther img{
    width: 100%;
}

.content-B-b{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.btn-portrait{
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}
.btn-portrait div{
    color: var(--coleur-blanc);
}




.carre{
    background-color: var(--coleur-violet-bleu);
    border-radius: 5px;
    padding: 10px;
}

.apropos{
    width: 80%;
    margin-bottom: 100px;
    font-size: 12px;
}
.gras{
    font-weight: bold;
}
.petit{
    font-size: 10px;
}



/********************************************************************************/
/*****************************THIRD SECTION ACCUEI*******************************/
/********************************************************************************/

#third-section-accueil {
    height: 810px;
    /* width: 100%; */
}

.contact {
    background-image: url(/Assets/Illustrations-logo/Accueil/Pantherhome7.png);
    height: 100%;
    /* width: auto; */
    background-size: contain;
}

.container-contact {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.content-C
{
    background: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
    border-radius: 150px;
    width: 67%;
    height: 475px;
    margin: auto;
    color:var(--coleur-bleu-marine);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content-C p{
    color: var(--coleur-bleu-marine);

}
.content-C p:first-child{
    font-size: 13px;
    margin-top: 30px;
}
.content-C .p-contact{
    font-size: 30px;
    font-weight: bold;
}

input[type="text"], input[type="email"]{
    height: 38px;
    width: 340px;
    border: 1px solid var(--coleur-bleu-marine);
    border-radius: 38px;
    background: none;
    padding-left: 20px;
    color: var(--coleur-bleu-marine);
}
.content-C textarea{
    border: 1px solid var(--coleur-bleu-marine);
    border-radius: 38px;
    background: none;
    padding-left: 20px;
    padding-top: 15px;
    width: 340px;
    color: var(--coleur-bleu-marine);
}
::placeholder{
    font-size: 13px;
    color: var(--coleur-bleu-marine);
    font-family: 'Cantarell';
}
input[type=submit]{
    background-color: var(--coleur-blanc-casse);
    font-family: 'Cantarell';
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    height: 38px;
    width: 125px;
    border: none;
    border-radius:38px;
    margin-bottom: 30px;
    margin-top: 15px;
    transition: all 0.3s ease-out;
}
input[type=submit]:hover{
    box-shadow: 0px 0px 20px var(--coleur-bleu-marine);
}



/*******************************************************************************************************************/
/*******************************************************************************************************************/
/********************************************PAGE WAKANDA***********************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

/********************************************************************************/
/**************************FIRST SECTION WAKANDA*********************************/
/********************************************************************************/

#first-section-wakanda{
    /* border: 2px solid red;
    background-color: blue; */
    height: 900px;
}   
.content-E{
    /* border: 2px solid orangered; */
    /* background-color: yellow; */
    background-image: url(/Assets/Illustrations-logo/Wakanda/Pantherwakanda1.png);
    height: 100%;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    
}

.content-E .container h2{
    text-align: justify;
    /* border: 2px solid bisque; */
    width: 460px;
    font-size: 45px;
    margin-bottom: 5px;
}
.content-E .container .text-wakanda{
    font-family: 'Wakanda';
    text-align: justify;
    font-size: 31px;
    color:var(--coleur-gris);
    /* border: 2px solid bisque; */
    width: 315px;
    margin-bottom: 25px;
}
.content-E .container p{
    text-align: justify;
    /* border: 2px solid bisque; */
    width: 315px;
    margin-bottom: 10px;
}

/********************************************************************************/
/**************************SECOND SECTION WAKANDA********************************/
/********************************************************************************/


.back-image{
    /* border: 2px solid chartreuse; */
    background-image: url(/Assets/Illustrations-logo/Wakanda/Pantherwakanda2.png);
    background-size: 1210px;
    background-repeat: no-repeat;
    /* background-color: red; */
    background-position: center top;
    margin-top: -130px
}

.content-F{
/* border: 2px solid red;
background-color: rgb(243, 243, 247); */
display: flex;
justify-content: space-between;
align-items:start;
text-align: justify;
padding-top:200px;
}

.content-F-a, .content-F-b{
    width: 440px;
}

.content-F div{
    margin-bottom: 40px;

}
.content-F p,.content-F h2{
    margin-bottom: 20px;

}

.content-F-a-b{
    /* border: 2px solid rgb(0, 225, 255);
    background-color: rgb(255, 123, 0); */
    height: 240px;
}
video{
    height: 100%;
    width: 100%;
}

.content-F-b-d{
    /* border: 2px solid rgb(9, 255, 0);
    background-color: rgb(255, 174, 0); */
    height: 240px;
}
.content-F-b-d img{
    width: 100%;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/********************************************PAGE ENIGME***********************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

/********************************************************************************/
/**************************FIRST SECTION ENIGME**********************************/
/********************************************************************************/

#first-section-enigme{
    height: 900px;
    width: auto;
}
.back-image-enigme{
    background-image: url(/Assets/Illustrations-logo/Enigme/Pantherenigme1.png);
    height: 100%;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    margin-left: -50px;
    margin-top: -150px;
    /* background-color: blue;
    height: auto;
    width: 100px; */
}
.content-G{
    /* border: 2px solid green; */
    /* background-color: green; */
    padding-top: 350px;
    display: flex;
    justify-content: end;
}

.content-G-a{
    /* border: 2px solid gold; */
    /* background-color:  orangered; */
    width: 38%;
    margin-right: 8%;
}
.content-G-a-a{
    /* border: 2px solid aqua; */
    /* background-color: palevioletred; */
    width: 80%;
    font-family: 'Panthera';
    font-size: 22px;
}
.content-G-a-a h2{
    font-size: 48px;
    text-align: justify;
}
.content-G-a-b{
    /* border: 2px solid purple; */
    background-image: url(/Assets/Illustrations-logo/Enigme/Pantherenigme2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: palevioletred; */
}
.content-G-a-b p{
    /* border: 2px solid white; */
    margin-top: 113px;
    margin-left: 60px;
    width: 80%;
    text-align: justify;
}
.line{
    background-image: url(/Assets/Illustrations-logo/Enigme/Pantherenigme3.png);
    height: 4px;
    width: 122%;
    /* border: 1px solid red; */
}

/********************************************************************************/
/**************************SECOND SECTION ENIGME*********************************/
/********************************************************************************/


.content-H{
    /* border: 2px solid yellow; */
    margin-top:50px;
    margin-bottom: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-H-a{
    /* border: 2px solid white; */
    width: 675px;
    margin-left: 205px;
    letter-spacing: 7px;
}
.content-H-a h2{
    /* border: 2px solid blue; */
    font-family: 'Wakanda';
    font-size: 22px;
    text-align: justify;
}

.content-H-b{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.content-H-b-a{
    /* border: 2px solid red; */
    margin-left: 205px;
    width: 30%;
}
.content-H-b-b{
    /* border: 2px solid purple; */
    width: 40%;
    height: 300px;
    margin-bottom: 105px;
    margin-right: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/Assets/Illustrations-logo/Enigme/Pantherenigme2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.content-H-b-b p {
    margin-bottom: 20px;
    width: 50%;

    
}
.content-H-b-b p:first-child {
    margin-bottom: 20px;
    width: 14%;
    
}
.content-H-b-b p {
    margin-bottom: 20px;
    width: 50%;
}

.content-H-b-a-a span{
    font-family: 'Wakanda';
}
.content-H-b-a-a p{
    margin-bottom: 10px;
}
.content-H-b-a-b{
    /* border: 2px solid hotpink; */
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
.content-H-b-a-b p{
    margin-left: -280px;
    margin-bottom: 10px;
}
.content-H-b-a-b input[type='text']{
    border-color: var(--coleur-gris);
    margin-bottom: 50px;
    width: 95%;
    color: var(--coleur-gris);
}
.content-H-b-a-b input[type='text']::placeholder{
    color: var(--coleur-gris);
}
.content-H-b-a-b input[type='submit']:hover{
    box-shadow: 0 0 20px var(--coleur-blanc-casse);
}
